@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0 !important;
    padding:0 !important;
    box-sizing: border-box !important;
}

.brand-name {
    font-family: 'MedievalSharp', cursive !important;
}
.ampersand{
    color: red;
}
.nav-link:hover {
    color:purple;
}
.greeting {
    font-family: 'MedievalSharp', cursive !important
}
.product-image {
    width:250px;
    height: 250px;
}
.card{
    width: 300px;
}
