@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root {
    --toastify-color-light: #918e8e;
    --toastify-text-color-light: #ffffff;
    --toastify-color-progress-light: linear-gradient(to right,
            #fc6464,
            #f33a3a,
            #fd2a2a,
            #fa1c1c,
            #fd1616,
            #ff002f);
    --toastify-font-family: 'MedievalSharp', cursive, sans-serif;
}

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

a {
    text-decoration: none !important;

}

body {
    background-color: #EDEDED;
}

.navbar {
    background-color: #918e8e;
}

.navbar-background {
    background-color: #918e8e;
}

.brand-name {
    font-family: 'MedievalSharp', cursive !important;
    color: black;
}

.ampersand {
    color: red;
}

.navlink {
    color: black;
}

.navlink:hover {
    color: purple;
}

.greeting {
    font-family: 'MedievalSharp', cursive !important
}

.product-image {
    width: 250px;
    height: 250px;
}

.card {
    max-width: 320px;
    height: 425px;
    border-radius: 10px;
    -webkit-box-shadow: -1px -1px 21px -6px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: -1px -1px 21px -6px rgba(0, 0, 0, 0.88);
    box-shadow: -1px -1px 21px -6px rgba(0, 0, 0, 0.88);
}

.detail-card {
    width: 650px;
    border-radius: 10px;
    background-color: #ffffff !important;
    -webkit-box-shadow: -1px -1px 21px -6px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: -1px -1px 21px -6px rgba(0, 0, 0, 0.88);
    box-shadow: -1px -1px 21px -6px rgba(0, 0, 0, 0.88);
}

.detail-card:hover {
    -webkit-box-shadow: 0px 0px 24px 0px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 24px 0px rgba(255, 0, 0, 1);
}

.detail-content {
    max-width: 65%;
}

.button {
    background-color: #444444;
    border: none !important;
    padding: 5px !important;
}

.button.remove {
    padding: 1px !important;
    ;
}

.button:hover {
    background-color: #DA0037;
}

.counter {
    width: 30px;
    height: 32px;
    border-radius: 8px;
    border: 1px black solid;
    text-align: center;
}

.toast-btn {
    border: none;
}

.custom-toast {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.cart-list {
    border: 5px solid #726f6f;
    border-radius: 10px;
    width: 95%;
    max-width: 762px;

}

.total {
    border: 2px solid #726f6f;
    border-radius: 5px;
}